@import url("https://fonts.googleapis.com/css2?family=Alatsi&family=Roboto:wght@400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

img {
  height: 100%;
}

.link-hover--effect {
  position: relative;
}

.link-hover--effect-red::after {
  background-color: rgba(151, 9, 8, 255);
}

.link-hover--effect-black::after {
  background-color: black;
}

.link-hover--effect::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  height: 3px;
  transition: all 350ms ease;
  width: 0;
}

.link-hover--effect:hover::after {
  left: 0;
  width: 100%;
}

.click--effect {
  transition: all 300ms ease;
  transform: scale(1);
  display: inline-block;
}

.click--effect:hover {
  transform: scale(1.1);
}

.click--effect:active {
  transform: scale(0.9);
}

main {
  height: 50vh;
}

.red {
  color: rgba(151, 9, 8, 255);
}

/* 

NAVBAR

*/

.navbar {
  padding: 24px 32px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
}

.nav__company {
  display: flex;
  align-items: center;
}

.nav__logo--wrapper {
  height: 50px;
  padding-right: 8px;
}

.nav__company--name {
  font-size: 28px;
  font-weight: 700;
  color: rgba(151, 9, 8, 255);
}

.nav__links {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav__link {
  margin-left: 48px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.current-link {
  color: rgba(151, 9, 8, 255);
}

.nav__link--btn {
  background-color: rgba(151, 9, 8, 255);
  color: white;
  padding: 8px 12px;
  border-radius: 100px;
}

/* 

MAIN

*/

header {
  text-align: center;
}

.title {
  font-size: 60px;
  line-height: 1.2;
  margin: 24px auto;
  max-width: 800px;

}

.sub-title {
  font-size: 32px;
  margin-bottom: 32px;
}

.search {
  padding: 0 48px;
  max-width: 800px;
  margin: 0 auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#search__input-box {
  width: 70%;
  height: 50px;
  border-radius: 15px;
  font-size: 28px;
  padding: 0 20px;
  border: 1px rgba(151, 9, 8, 255) solid;
  outline-width: 0px;
}

#search__input-box:hover {
  outline: rgba(151, 9, 8, 255) solid 1px;
}

#search__input-box:focus {
  outline: rgba(151, 9, 8, 255) solid 2px;
}

.search__enter {
  width: 25%;
  font-size: 32px;
  color: white;
  background-color: red;
  padding: 8px 12px;
  border-radius: 15px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.4);
}

.main__img--wrapper{
  height: 50vh;
  padding-bottom: 48px;
  text-align: center;
}
